<%- include("partials/header.ejs")%>
    <div class="content">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ducimus sunt minima dolorem! Amet, pariatur. Tempora ullam quas nobis neque explicabo, dolore quidem est eveniet! Soluta molestias facilis sint laudantium.</p>
        <p><u>New posts : </u></p>
        <ul>
            <li><%= locals.latestContent%></li>
        </ul>
    </div>

<%- include("partials/footer.ejs")%>

