<%- include("partials/header.ejs")%>
<div class="content">
    <h2>Post</h2>
    <p><%= selectedPost%></p>
    <form action="/submit" method="post">
        <input type="submit" value="Edit my post">
        <input type="submit" value="Delete my post">
    </form>
</div>
<%- include("partials/footer.ejs")%>